{% extends 'base.html.twig' %}

{% block hero_heading %}Real-Time Chat{% endblock %}

{% block hero_sub_heading %}Fundamental real-time communication.{% endblock %}

{% block main %}

<section class="main blue-gradient-background">
    <div class="container">
    
        <!-- Get Twitter Username -->
        <div class="twitter-username-capture">
          <p class="light white">
            Enter your Twitter name and start chatting!
          </p>
          <div class="twitter-input">
            <input id="input-name" class="swish-input" placeholder="Enter Twitter ID here">
            <button class="bright-blue-hover btn-white" id="try-it-out">Try it out</button>
          </div>
        </div>
    
        <!-- Chat Application -->
        <div class="row light-grey-blue-background chat-app">

            <div id="messages">
                <div class="time-divide">
                    <span class="date">Today</span>
                </div>
            </div>

            <div class="action-bar">
                <textarea class="input-message col-xs-10" placeholder="Your message"></textarea>
                <div class="option col-xs-1 white-background">
                    <span class="fa fa-smile-o light-grey"></span>
                </div>
                <div class="option col-xs-1 green-background send-message">
                    <span class="white light fa fa-paper-plane-o"></span>
                </div>
            </div>

        </div>
    </div>
</section>

<script id="chat_message_template" type="text/template">
    <div class="message">
        <div class="avatar">
            <img src="">
        </div>
        <div class="text-display">
            <div class="message-data">
                <span class="author"></span>
                <span class="timestamp"></span>
                <span class="seen"></span>
            </div>
            <p class="message-body"></p>
        </div>
    </div>
</script>
{% endblock %}

{% block javascripts %}
<script src="https://cdn.rawgit.com/samsonjs/strftime/master/strftime-min.js"></script>
<script src="//js.pusher.com/3.0/pusher.min.js"></script>

<script src="{{ asset('js/chat.js') }}"></script>
{% endblock %}

{% block stylesheets %}
<style>
.main {
  min-height: 500px;
}

.chat-app {
    margin: 50px;
    padding-top: 10px;
    display: none;
}

.chat-app .message:first-child {
    margin-top: 15px;
}

#messages {
    height: 300px;
    overflow: auto;
    padding-top: 5px;
}

.twitter-username-capture {
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.twitter-input {
  margin-top: 20px;
}
</style>
{% endblock %}
